@tailwind base;
@tailwind components;
@tailwind utilities;

fieldset label:has(+input:required)::after {
  content: "*";
  padding-left: 4px;
}

:root {
  --animate-duration: 0.5s;
}

span, p {
  word-break: break-word;
}

.progress-bar {
  transition: width 1s ease; /* Add smooth transition */
}

input.field:disabled,
input.field:read-only {
  pointer-events: none;
  opacity: 0.4;
}