@tailwind base;
@tailwind components;
@tailwind utilities;

fieldset label:has(+input:required)::after {
  content: "*";
  padding-left: 4px;
}

:root {
  --animate-duration: 0.5s;
}

span, p {
  word-break: break-word;
}